$Theme-Color: #820000;
$Primary-Color: #F4F4F4;
$Secondary-Color: #303030;

body {
    background-color: $Secondary-Color;
    color: $Primary-Color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}